h1 {
	border-bottom: 2px solid red;
	position: relative;
}
h1::before {
	border-bottom: 2px solid red;
	width: 100%;
	content: "";
	position: absolute;
	top: 45px;
}
h1::after {
	border-bottom: 2px solid red;
	width: 100%;
	content: "";
	position: absolute;
	top: 55px;
	left: 0;
}
* {
	margin: 0;
}